<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="mike_cache_customer_login"
                  instance="Mike\Cache\Observer\Customer\AddInfoToCustomerSession"/>
    </event>
</config>
